html {
    margin: 0;
    padding: 0;
    color: #000;
    background-color: #515151;
}

body {}

li {
    margin: 5px;
    /*list-style: none;*/
    text-align: left;
}

.Name {
    text-align: center;
    font-size: 75px;
}

.main {
    border: 5px solid rgb(183, 14, 68);
    float: left;
    width: 45%;
    margin-right: 2%;
    margin-left: 5%;
}

.skills, .habilidades,
.pastJobs {
    text-align: center;
}

.qualHeader {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    float: center;
}

.skillsHeader1,
.habiHeader {
    margin-left: auto;
    margin-right: auto;
    float: center;
}

.skills1, .habi1 {
    margin-right: 15%;
    margin-left: 25%;
    margin-bottom: 5%;
}

.skills1, .habi1, 
ul {
    padding: 0;
    text-align: center;
}
/* use inine block instead of
 using Float. cause float sucks*/
.skillSec1, .habiSec1 {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 5%;
}

.skillSec2, .habiSec2 {
display: inline-block;
margin-top: 0;
margin-bottom: 0;
margin-left: 5%;
}

.qualifications {
    overflow: visible;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
}
.qualf1{
    text-align: left;
    margin-left: 20%;
}

.jobsHeader {
    margin-top: 10px;
    margin-left: 15%;
    margin-right: 15%;
}

.pastJobs {
    margin float: inherit;
}

.jobTitle {
    font-size: 17px;
    font-weight: bold;
    list-style: none;
    text-align: center;
}

.EXPlist {
    text-align: left;
    margin-left: 10%;
}

.education {
    overflow: inherit;
}

.sidebar {
    text-align: center;
    float: right;
    border: 5px solid rgb(183, 14, 68);
    width: 35%;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 1%;
}

.headshot img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 200px;
    max-height: 300px;
}

.contactInfo {
    letter-spacing: 0.25em;
}

.aboutText {
    text-align: left;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.aboutHeader {
    font-size: 25px;
    text-align: center;
}

i {
    color: #7791ce;
}

p {
    font-size: 15px;
}

h1,
p,
h2,
li {
    font-family: Georgia, sans-serif;
    color: #7791ce;
}



/*
  .everything{
    text-align: left;
  }
}
.Name {
  font-size: 25px;

}
.skills {

}
.title1 {
  font-size: 20px;

}
.About {
Border: 5px solid #9ab2ea;
width: 300px;
}
*/